# 1) .isin()

In [2]:
# importing pandas package
import pandas as pd
  
# making data frame from csv file
data = pd.read_csv("employees.csv")
  
# creating a bool series from isin()
new = data["Gender"].isin(["Male"]) & data["First Name"].isin(["Douglas"])
  
# displaying data with gender = male only
data[new]

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
0,Douglas,Male,8/6/1993,12:42 PM,97308,6.945,True,Marketing
217,Douglas,Male,9/3/1999,4:00 PM,83341,1.015,True,Client Services
322,Douglas,Male,1/8/2002,6:42 PM,41428,14.372,False,Product
835,Douglas,Male,8/4/2007,5:23 AM,132175,2.280,False,Engineering